<app-custom-grid title="Seeding And Sapling"
 [columns]="columns" 
  [hiddenFields]="hiddenFields"

 [data]="data" [showAdd]="false" [showprintbuttons]="true"
  (actionClicked)="onGridAction($event)"
    (onUpdateView)="handleStatusUpdate($event)"

[editableFields]="['comments']"
    [Modulewiserejectbox]= "true"

[viewPopupVisible]="viewgridvisiblity"
   *ngIf="!mappopup">
</app-custom-grid>

<!-- IMAGE POPUP -->
<div class="image-popup-overlay" *ngIf="showImagePopup">
  <div class="image-popup-box">

    <span class="close-btn" (click)="closeImagePopup()">✖</span>

    <img [src]="popupImageUrl" class="popup-img" />

  </div>
</div>


<div class="map-popup-overlay" *ngIf="mappopup">
  <div class="map-popup-container">

    <div class="map-header">
      <span>📍Map View</span>
      <button class="close-btn" (click)="closeMapPopup()">✖</button>
    </div>

    <div id="map" class="map-body"></div>

  </div>
</div>

<div *ngIf="showImagePopup" class="img-popup">
  <div class="img-box">
    <span class="close-btn" (click)="closeImagePopup()">✖</span>
    <img [src]="popupImageUrl" />
  </div>
</div>

<!-- SEEDING DETAILS POPUP -->
<div class="custom-modal-overlay" *ngIf="showSeedingPopup && !mappopup">
  <div class="custom-modal-content">
    <div class="modal-header">
      <h4>Species Details</h4>
      <button class="modal-close-x" (click)="closeseedingpopup()">✖</button>
    </div>
    <div class="modal-body">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th *ngFor="let col of speciesColumns">{{col.header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of seedingdetails">
            <td *ngFor="let col of speciesColumns">
              {{row[col.field]}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>