<div class="magic-forest-wrapper">
  <div class="glass-content-layer">
    
    <header class="page-header">
      <h1 class="page-title">Fisheries Planning</h1>
      <div class="breadcrumb-container">
        <div class="v-accent-bar"></div>
        <nav class="breadcrumb-nav">
          Fisheries / PLANNING / <span class="active">Fisheries Planning</span>
        </nav>
      </div>
    </header>

    <div class="main-layout">
     <div class="glass-card map-view">
  <div class="card-header">
    <div class="left-title"><i class="fa fa-compass"></i> MAP OVERVIEW</div>
    
    <div class="map-actions">
      <button class="btn-kml-sky" (click)="downloadKml()">
        <i class="fa fa-download"></i> KML
      </button>
      
      <button class="btn-shp-green" (click)="downloadShp()">
        <i class="fa fa-download"></i> SHP
      </button>
    </div>

  </div>
  <div id="map"></div>
</div>



  </div>
